.header.alt.vert
  .container
    %h1 SYTW
    %p.lead Práctica 5: Estadisticas de urls cortas
    %div &nbsp;
    %a.btn.btn-default.btn-lg{:href => "/auth/google_oauth2",:id => "enter"}Sign in with Google